<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>go express</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div style="text-align: center;padding-top: 5%">
    <img src="/img/fly_title.png">
    <p class="notice">a simple web </p>
    <button class="btn" id="Get">Get</button>
    <button class="btn" id="Post">Post</button>
</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>